In [1]:
import numpy as np
import pandas as pd
import extractor
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter("ignore", DeprecationWarning)

In [2]:
X_nik = extractor.features(13,"nikhil/")
X_nik= pd.DataFrame(X_nik)
X_nik['Class']=0

X_ark = extractor.features(13,"arka/")
X_ark= pd.DataFrame(X_ark)
X_ark['Class']=1

X_prv = extractor.features(13,"prativa/")
X_prv= pd.DataFrame(X_prv)
X_prv['Class']=2

X_deb = extractor.features(13,"debalina/")
X_deb= pd.DataFrame(X_deb)
X_deb['Class']=3

X_arn = extractor.features(13,"aryendra/")
X_arn= pd.DataFrame(X_arn)
X_arn['Class']=4
print('\nData Extraction Complete.')

Data Extraction Complete.

In [3]:
X_nik_train = X_nik[:int(X_nik.shape[0]*0.8)]
X_nik_test = X_nik[int(X_nik.shape[0]*0.8):]

X_ark_train = X_ark[:int(X_ark.shape[0]*0.8)]
X_ark_test = X_ark[int(X_ark.shape[0]*0.8):]

X_prv_train = X_prv[:int(X_prv.shape[0]*0.8)]
X_prv_test = X_prv[int(X_prv.shape[0]*0.8):]

X_deb_train = X_deb[:int(X_deb.shape[0]*0.8)]
X_deb_test = X_deb[int(X_deb.shape[0]*0.8):]

X_arn_train = X_arn[:int(X_arn.shape[0]*0.8)]
X_arn_test = X_arn[int(X_arn.shape[0]*0.8):]

In [4]:
X_arn.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,Class
0,15.411765,9.178356,2.0,33.0,31.0,11.470588,2.830873,3.0,13.0,10.0,...,0.057895,903.0,382.715187,8.0,365.0,4.0,1867.0,2.067553,1.0,4
1,32.235294,11.978065,0.0,47.0,47.0,13.705882,9.989787,0.0,29.0,29.0,...,0.459119,939.0,337.296362,18.0,342.0,4.0,2464.0,2.624068,1.0,4
2,17.800000,6.779381,8.0,33.0,25.0,10.700000,5.532630,6.0,24.0,18.0,...,0.253393,646.0,51.419712,4.0,438.0,4.0,2672.0,4.136223,1.0,4
3,22.363636,2.346089,18.0,26.0,8.0,13.090909,9.931168,0.0,29.0,29.0,...,0.030283,634.0,57.671703,1.0,390.0,4.0,2916.0,4.599369,1.0,4
4,24.025000,13.338830,2.0,43.0,41.0,13.525000,6.726766,2.0,30.0,28.0,...,0.235570,999.0,404.418047,11.0,390.0,4.0,3525.0,3.528529,1.0,4

In [5]:
X_train=X_nik_train.append([X_ark_train,X_prv_train,X_deb_train,X_arn_train])
X_test=X_nik_test.append([X_ark_test,X_prv_test,X_deb_test,X_arn_test])

y_train=X_train[['Class']]
y_test=X_test[['Class']]
X_data=X_train.append(X_test)
X_data = X_data.reset_index(drop=True)
y_data=y_train.append(y_test)
y_data = y_data.reset_index(drop=True)
print('\nPre-processing Done.')

Pre-processing Done.

In [6]:
print('\nCount of different classes in Train set:')
print(X_train['Class'].value_counts())

Count of different classes in Train set:
3    1004
1     769
4     651
2     635
0     520
Name: Class, dtype: int64

In [7]:
print('\nCount of different classes in Test set:')
print(X_test['Class'].value_counts())

Count of different classes in Test set:
3    251
1    193
4    163
2    159
0    131
Name: Class, dtype: int64

In [8]:
feats=[c for c in X_train.columns if c!='Class']

In [9]:
# Train classifier
print('\nImplementing Gaussian Naive Bayes Model.')
gnb = GaussianNB()
gnb.fit(
    X_train[feats].values,
    y_train['Class']
)
y_pred = gnb.predict(X_test[feats].values)

Implementing Gaussian Naive Bayes Model.

In [10]:
print("\nNumber of mislabeled points out of a total {} points : {}, Accuracy: {:05.5f}%"
      .format(
          X_test.shape[0],
          (X_test["Class"] != y_pred).sum(),
          100*(1-(X_test["Class"] != y_pred).sum()/X_test.shape[0])
))

Number of mislabeled points out of a total 897 points : 453, Accuracy: 49.49833%

In [11]:
cv = KFold(n_splits=5)
clf = GaussianNB()
X_data=X_data.values
y_data=y_data.values
accuracy=0
for traincv, testcv in cv.split(X_data):
        clf.fit(X_data[traincv], y_data[traincv])
        train_predictions = clf.predict(X_data[testcv])
        acc = accuracy_score(y_data[testcv], train_predictions)
        accuracy+= acc

In [12]:
print('\n5 Fold Cross Validation Accuracy on Training Set: '+str(accuracy))

5 Fold Cross Validation Accuracy on Training Set: 0.7899441340782123